<div class="main">
  <span style="float: right;"><td><%= link_to("write reviews",new_movie_review_path(@movie))%></span><br>
  <div class="row">
    <div class="col-lg-6">
      <table class="table">
        <tr>
          <td>NAME:</td>
          <td><%= @movie.title%></td>
        </tr>
        <tr>
          <td>Rating:</td>
          <td><%= @movie.rating%></td>
        </tr>
        <tr>
          <td>Total_gross:</td>
          <td><%= @movie.total_gross%></td>
        </tr>
        <tr>
          <td>Description:</td>
          <td><%= @movie.description%></td>
        </tr>
        <tr>
          <td>Released date:</td>
          <td><%= @movie.released_on%></td>
        </tr>
        <tr>
          <td>Cost:</td>
          <td><%= @movie.cast%></td>
        </tr>
          <td>Director:</td>
          <td><%= @movie.director%></td>
        </tr>
        <tr>
          <td>Duration:</td>
          <td><%= @movie.duration%></td>
        </tr>
        <tr>
          <td>Stars:</td>
          <td><%= format_average_stars(@movie)%></td>
        </tr>
        <tr>
          <td>Fans:</td>
          <td><%= pluralize(@fans.count,'fan')%></td>
        </tr>
        <tr>
          <td>Reviews:</td>
          <td><% Movie.recent_reviews(@movie).each do |r|%>
              <%=r.comment%>
            <%end%>
            <%= link_to("All Reviews",movie_reviews_path(@movie) )%>
          </td>
        </tr>
        <tr>
          <td>Genres:</td>
          <td>
            <% @movie_genres.each do |g|%>
              <%=g.name%>
            <%end%>
          </td>
        </tr>
      </table>
    <% if current_user %>
      <div class="favorites">
        <%= render 'favorites/favorites' %>
        <% if !@current_favorite %>
          <%= button_to 'Fave', movie_favorites_path(@movie), :class => 'button fave', remote: true %>
        <%else%>
          <%= button_to 'UnFave',movie_favorite_path(movie_id: @movie.id, id: @current_favorite), :class => 'button fave',method: :delete %>
        <%end%>
      </div>
    <%end%>
  </div>
  <div class="col-lg-6">
    <% @movie.uploads.each do |file| %>
      <%= image_tag url_for(file), class:"img-size" %></div>
    <% end %>
  </div>
</div>
